[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
aiohttp = "*"
aiofiles = "*"
sqlalchemy = "*"
mysql-connector = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flake8 = "*"
gunicorn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
